html,body{ width: 100%;height: 100%; }
* { padding: 0; margin: 0; }
ul { list-style: none; }
a { text-decoration: none; }
.hide-scroll-bar::-webkit-scrollbar { display: none; }
.clearfix::after{ content: ''; display: block; width: 0; height: 0; clear: both; }
.ellipsis{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
button, input{ background-color: transparent; border: none; outline: none; }
/*[class*="el-icon-"] { cursor: pointer; }*/
.curs{ cursor: pointer; }



/* 自定义按钮 */
/* 搜索 */
.el-button--goon.is-active,
.el-button--goon:active { background: #20B2AA;border-color: #20B2AA;color: #fff; }
.el-button--goon:focus,
.el-button--goon:hover { background: #48D1CC;border-color: #48D1CC;color: #fff; }
.el-button--goon { color: #FFF;background-color: #20B2AA;border-color: #20B2AA; }

/* 修改 */
.el-button--amend.is-active,
.el-button--amend:active { background: rgb(19,206,102);border-color:rgb(19,206,102);color: #fff; }
.el-button--amend:focus,
.el-button--amend:hover { background: rgb(137,231,179);border-color: rgb(137,231,179);color: #fff; }
.el-button--amend { color: #FFF;background-color: rgb(19,206,102);border-color: rgb(19,206,102); }

/* 审核 */
.el-button--derive.is-active,
.el-button--derive:active { background: #ffba00;border-color:#ffba00;color: #fff; }
.el-button--derive:focus,
.el-button--derive:hover { background: #ffba00;border-color: #ffba00;color: #fff; }
.el-button--derive { color: #FFF;background-color: #ffba00;border-color: #ffba00; }

/* 自定义分页器 */
.wrapper >>> .el-pagination.is-background .btn-next,
.wrapper >>> .el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li{ background-color: #fff; }
.wrapper >>> .el-pagination.is-background .el-pager li{ background-color: #fff; }
.wrapper >>> .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #08C0B9;color: #FFF; }
.wrapper >>>  .el-pagination.is-background .el-pager li.active {
  color: #fff;cursor: default; }
.wrapper >>> .el-pagination.is-background .el-pager li:hover { color: #08C0B9; }
.wrapper >>>.el-pagination.is-background .el-pager li:not(.disabled):hover { color: #08C0B9; }
.wrapper >>> .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  background-color: #08C0B9;color: #FFF; }

/* 菜单一级与二级之间的间隔 */
.el-menu-item-group__title{ padding: 0; }


/* 文本框的角度 */
.el-input__inner{ border-radius: 8px }

